
* {
    padding: 0;
    margin: 0;
}

body {
    color: #cacaca;
    background: #282828;
    font-size: 2em;
}

#body {
    background-color: #191919;
    color: #cacaca;
    width: 100%;
    height: 400px;
}

a {
    text-decoration: none;
    color: #cacaca;
}

.content h1 {
    margin: 15px 0;
    font-size: 2em;
}

.flash {
    color: red;
}

nav h1 {
    color: #cacaca;
    font-size: 2em;
    display: inline-block;
    margin-top: 3px;
}

nav {
    height: 53px;
    background: #222;
    border-bottom: solid 1px #161616;
}

nav span {
    color: #cccc00;
}

ul {
    float: right;
}

ul li {
    float: left;
    list-style: none;
    margin-top: 10px;
}

nav ul li a {
    color: #cacaca;
    padding: 10px;
}

.theme {
    float: right;
}

.theme em {
    font-size: 12px;
    font-weight: normal;
    font-style: initial;
    float: right;
}

.theme input[type=checkbox] {
   margin-top: 12px; 
}

a:hover {
    color: #aaa;
}

.content h1 {
    display: inline-block;
    font-size: 1.8em;
}

header .action {
    margin-left: 10px;
    color: #0da10d;
}

header .action:hover {
    color: green;
}

#title {
    width: 50%;
}

#password, #username, #title, input, textarea {
    color: #cacaca;
    display: block;
    border: solid 1px #888;
    background-color: #191919;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2px;
}

input:focus, textarea:focus {
    color: #bababa;
    outline: none;
    border: solid 1px #888;
}

input[type=submit] {
    color: #303030;
    background: #cacaca;
    border: solid 1px #cacaca;
}

input[type=submit]:hover {
    background: #aaa;
    border: solid 1px #aaa;
}
