<!doctype html>
<title>{% block title %}{% endblock %} - Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
<div class="container">
    <a href="{{ url_for('index') }}"><h1>niklas</h1></a>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
  <div class="theme">
    <em>Dark mode</em>
    <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
    </label>
  </div>
</div>
</nav>
<div class="container">
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
</div>
